.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    gap: 2rem;

    &__heading {
        font-size: 5rem;
        transform-origin: top right;
        animation: moveInFromLeft 2.3s 1 backwards;
        transition: all ease-in 10s;
    }

    &__input {
        width: 80%;
        animation: moveInFromRight 2s 1;
        transition: all ease-in 8s;
    }

    &__btn {
        transform-origin: bottom right;
        animation: moveInFromLeft 3.5s 1;
    }
}